{% extends "base.html.twig" %}

{% block title %}Liste de souhaits{% endblock %}

{% block main %}
    <h2>Liste de souhaits</h2>
    <a class="nav-link" href="{{ path('app_wish_details', {id: 12}) }}">Souhait n° 12</a>
{% endblock %}
