@if (invalidCredentialsMessage) {
  <p class="py-4 font-bold text-red-600 text-center">{{ invalidCredentialsMessage }}</p>
}

<form
  [formGroup]="loginForm"
  (ngSubmit)="submit()"
  class="flex flex-col gap-6 p-6 max-w-sm mx-auto"
>
  <h2 class="text-2xl font-bold">Se connecter</h2>
  <div>
    <label for="login" class="block mb-2.5 text-sm font-medium text-slate-900"
      >Nom d'utilisateur</label
    >
    <input
      type="text"
      id="login"
      class="bg-transparent border border-slate-700 text-slate-900 text-sm rounded-lg focus:ring-blue-700 focus:border-blue-700 block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
      placeholder="Nom d'utilisateur"
      formControlName="login"
    />
    <!-- TODO: extract -->
    @if (login?.invalid && (login?.dirty || login?.touched)) {
      <div class="text-sm text-red-500">
        @if (login?.hasError('required')) {
          <div>Login is required.</div>
        }
        @if (login?.hasError('minlength')) {
          <div>Login must be at least 4 characters long.</div>
        }
      </div>
    }
  </div>
  <div>
    <label for="password" class="block mb-2.5 text-sm font-medium text-slate-900"
      >Mot de passe</label
    >
    <input
      type="password"
      id="password"
      class="bg-transparent border border-slate-700 text-slate-900 text-sm rounded-lg focus:ring-blue-700 focus:border-blue-700 block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
      placeholder="••••••••"
      formControlName="password"
    />

    <!-- TODO: extract -->
    @if (password?.invalid && (password?.dirty || password?.touched)) {
      <div class="text-sm text-red-500">
        @if (password?.hasError('required')) {
          <div>Password is required.</div>
        }
        @if (password?.hasError('minlength')) {
          <div>Password must be at least 4 characters long.</div>
        }
      </div>
    }
  </div>
  <button
    (click)="submit()"
    class="cursor-pointer text-white bg-blue-700 box-border border border-transparent hover:bg-blue-900 focus:ring-4 shadow-xs leading-5 rounded-lg text-sm px-4 py-2.5 disabled:bg-slate-300 disabled:text-slate-500 disabled:cursor-not-allowed"
  >
    Se connecter
  </button>
  <div class="flex gap-1">
    <p>Pas encore de compte ?</p>
    <span class="text-blue-500 cursor-pointer" (click)="navigateToRegister()">S'inscrire</span>
  </div>
</form>
