{% extends "base.html.twig" %}

{% form_theme wish_form 'bootstrap_5_layout.html.twig' %}

{% block title %}{{ parent() }} | Créer un souhait{% endblock %}

{% block main %}
    <h2>Créer un souhait</h2>
    <div class="row justify-center">
        <div class="col-12 col-md-6"></div>
        {{ form(wish_form) }}
    </div>
{% endblock %}
