{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Liste de souhaits{% endblock %}

{% block main %}
    <h2>Liste de souhaits</h2>
    <div class="wishlist">
        {% set publishedWishes = wishes|filter(wish => wish.published) %}

        {% if publishedWishes is empty %}
            <p>Aucun souhait publié pour le moment.</p>
        {% else %}
            {% for wish in publishedWishes %}
                <a class="wish" href="{{ path('app_wishlist_wish_details', {id: wish.id}) }}">
                    {{ wish.id }} - {{ wish.title }}
                </a>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
