{% extends "base.html.twig" %}

{% block title %}Liste de souhaits{% endblock %}

{% block main %}
    <h2>Liste de souhaits</h2>
    <ul class="wishlist">
        {% for id, wish in wishes %}
            <li class="wish">
                <a class="nav-link" href="{{ path('app_wish_details', {id: id}) }}">{{ id }} - {{ wish }}</a>
            </li>
        {% else %}
            <li>La liste de souhait est vide.</li>
        {% endfor %}
    </ul>

{% endblock %}
