

nav {
  a {
    position: relative;

    &::after {
      bottom: 0;
      content: '';
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: var(--color-primary);
      transition:
        width 0.3s ease 0s,
        left 0.3s ease 0s;
      width: 0;
    }
    
    &:hover::after {
        width: 100%;
        left: 0;
      }
  }
}
