{% extends "base.html.twig" %}

{% block title %}À propos de nous{% endblock %}

{% block main %}
    <h2>À propos de nous</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut culpa debitis deserunt dicta ducimus et fugit maiores molestiae natus placeat, porro quaerat quod reiciendis sapiente ut voluptas voluptatem voluptatibus. A ab, aliquam atque blanditiis dolor, eaque eos error eum ipsam, laudantium libero minus nobis odit quisquam veniam. Animi, asperiores, at aut corporis cumque debitis delectus deserunt dolorem eaque earum enim, eos et excepturi expedita facere fugiat illo ipsum iusto laborum laudantium nam nesciunt nulla obcaecati odit officia omnis optio quae rem repellendus ut velit veniam vero voluptas? Blanditiis debitis delectus distinctio fugit maxime officia optio placeat. Alias corporis cum debitis ea eligendi eum, in, ipsum iure labore maxime nam praesentium, sequi sit tempora voluptatum. Architecto beatae culpa, deleniti eaque explicabo incidunt iure libero nam necessitatibus nemo neque qui saepe sed ut voluptates? A alias beatae consectetur consequuntur corporis dignissimos earum eveniet exercitationem facilis fugit id ipsam iusto labore, minima necessitatibus nemo neque nihil nisi numquam odit perferendis porro quibusdam quod reprehenderit sapiente sed sunt suscipit vel velit voluptatum. Accusantium dolore doloribus fuga illo impedit maxime necessitatibus nisi, perferendis porro provident quam repudiandae sed sint tempora, voluptatum. Aspernatur dolor explicabo fugit, id incidunt, ipsa nisi obcaecati officiis possimus recusandae, voluptatibus!</p>
{% endblock %}
