{% extends 'base.html.twig' %}

{% form_theme serie_form 'bootstrap_5_layout.html.twig' %}

{% block title %}{{ parent() }} - Créer une série{% endblock %}

{% block body %}
    <h2>Créer une nouvelle série</h2>
    <div class="row justify-center">
        <div class="col-12 col-md-6"></div>
        {{ form(serie_form) }}
    </div>
{% endblock %}
