{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Page d'accueil{% endblock %}

{% block main %}
    {% if app.user.username is defined %}
        <h2>Bonjour {{ app.user.username }} 👋</h2>
    {% else %}
        <h2>Bienvenue sur votre application de Bucket list !</h2>
    {% endif %}
{% endblock %}
