<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="shortcut icon" th:href="@{/images/logoENI.png}" type="image/x-icon">
    <title>TP Filmothèque - Accueil</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main class="center-main">
    <section class="center-section">
        <h2>Voici la bibliothèque des films de ENI Ecole</h2>
        <a href="/films">Liste les films</a>
    </section>
</main>
</body>
</html>