<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Filmothèque - Modifier un genre</title>
    <link href="/css/general.css" rel="stylesheet">
    <link href="/css/demo-form.css" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/images/logoENI.png}" type="image/x-icon">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<th:block th:object="${genre}">
    <main>
        <div class="error" th:if="${#fields.hasErrors('*')}">
            <p>Des erreurs ont éte détectées
        </div>
        <form class="form" method="post" th:action="@{/genres/update(id=${genre.id})}">
            <h2>Modifier un genre</h2>
            <div>
                <label for="titre">Titre: </label>
                <input id="titre" name="titre" th:value="${genre.titre}" type="text">
                <div class="error" th:if="${#fields.hasErrors('titre')}">
                    <ul>
                        <li th:each="erreur: ${#fields.errors('titre')}" th:text="${erreur}"></li>
                    </ul>
                </div>
            </div>
            <input class="btn" type="submit" value="Modifier le genre">
        </form>
    </main>
</th:block>
</body>
</html>