<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="/css/general.css" rel="stylesheet">
    <link href="/css/demo-form.css" rel="stylesheet">
    <title>Filmothèque - Créer un film</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<th:block th:object="${film}">

    <main>
        <div class="error" th:if="${#fields.hasErrors('*')}">
            <p>Des erreurs ont éte détectées
        </div>
        <form method="post">
            <h2>Création d'un film [En cours de construction]</h2>
            <ul class="flex-outer">
                <li>
                    <label for="titre">Titre : </label>
                    <input id="titre" name="titre" th:field="*{titre}" type="text">
                    <div class="error" th:if="${#fields.hasErrors('titre')}">
                   <ul>
                        <li th:each="erreur: ${#fields.errors('titre')}" th:text="${erreur}"></li>
                    </ul>
                </div>
                </li>
                <li>
                    <label for="annee">Année : </label>
                    <input id="annee" name="annee" type="number">
                    <div class="error" th:if="${#fields.hasErrors('annee')}">
                        <ul>
                            <li th:each="erreur: ${#fields.errors('annee')}" th:text="${erreur}"></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <label for="duree">Durée : </label>
                    <input id="duree" name="duree" type="number">
                    <div class="error" th:if="${#fields.hasErrors('duree')}">
                        <ul>
                            <li th:each="erreur: ${#fields.errors('duree')}" th:text="${erreur}"></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <label for="synopsis">Synopsis : </label>
                    <textarea id="synopsis" name="synopsis"></textarea>
                    <div class="error" th:if="${#fields.hasErrors('synopsis')}">
                        <ul>
                            <li th:each="erreur: ${#fields.errors('synopsis')}" th:text="${erreur}"></li>
                        </ul>
                    </div>
                </li>
                <!--<li>
                    <label for="genres">Genre : </label>
                    <select id="genres">
                        <option th:each="genre : ${listeGenresEnSession}" th:text="${genre.titre}"></option>
                    </select>
                </li>-->
                <li>
                    <input type="submit" value="Créer un film">
                </li>
            </ul>
        </form>
    </main>
</th:block>
</body>
</html>