@import url('_header.css');
@import url('_footer.css');
@import url('wish.css');

@font-face {
    src: url("../fonts/Lato-Regular.ttf");
    font-family: 'Lato';
}

:root {
    --header-h: 88px;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
}

h2 {
    padding: 1rem 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #042134;

}

main {
    padding: 1rem;
    min-height: calc(100dvh - var(--header-h));
    color: #fff8ea;
}
