<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Demo Spring Web - Détails d'un formateur</title>
    <link rel="stylesheet" href="/css/demo-form.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="shortcut icon" th:href="@{/images/logoENI.png}" type="image/x-icon">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<form action="/formateurs/detail" method="post">
    <h1> Détails d'un formateur</h1>

    <ul class="flex-outer">
        <li th:if="${randomBoolean}">Vrai</li>
        <li th:if="${!randomBoolean}">Faux</li>
        <li>
            <label for="inputNom">Nom</label>
            <input id="inputNom" type="text" placeholder="Nom" name="nom" th:value="${formateur.nom}">
        </li>
        <li>
            <label for="inputPrenom">Prénom</label>
            <input id="inputPrenom" type="text" placeholder="Prénom" name="prenom" th:value="${formateur.prenom}">
        </li>
        <li>
            <label for="inputEmail">Email</label>
            <input id="inputEmail" type="email" placeholder="Email" name="email" th:value="${formateur.email}">
        </li>
        <li>
            <input type="submit" value="Valider">
        </li>
    </ul>
</form>
</body>
</html>