header {
    height: var(--header-h);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(248, 249, 250);

    .logo {
        display: flex;
        gap: 0.5rem;

        h1 {
            font-size: 2rem;
        }
    }
}
