@import url('_header.css');

@font-face {
    src: url("../fonts/Lato-Regular.ttf");
    font-family: 'Lato';
}

* {
    padding: 0;
    margin: 0;
}

a {
 text-decoration: none;
}

h1, h2 {
    padding: 1rem 0;
}

body {
    background-color: skyblue;
    font-family: 'Lato', sans-serif;
}
