<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/images/logoENI.png}" type="image/x-icon">
    <title>ENI Enchères - Modifier mon mot de passe</title>
</head>
<body>
<div data-th-insert="~{fragments/fragment-header :: header}"></div>

<main>
    <h2>Modifier mon mot de passe</h2>
    <th:block th:object="${updatePasswordDTO}">

        <!--Show error message if errors occur -->
        <div class="msg-frame error" th:if="${#fields.hasErrors('*')}">
            <p>Des erreurs ont éte détectées</p>
        </div>

        <form class="form" id="updatePasswordForm" method="post" th:action="@{/profile/my-profile/update-password}">
            <fieldset>
                <legend>Modifier mon mot de passe</legend>
                <ul class="flex-outer">

                    <!--Current Password -->
                    <li>
                        <label for="current-password">Mot de passe actuel:</label>
                        <div class="password-wrapper">
                            <input id="current-password" required th:field="*{currentPassword}"
                                   type="password" placeholder="Saisissez votre mot de passe actuel">
                            <span class="toggle-show-password"><img id="eye-current-password"
                                                                    alt="Afficher le mot de passe" height="16"
                                                                    src="/images/icons/eye-closed.svg"
                                                                    width="16"/></span>

                        </div>
                        <p class="error-msg"
                           th:each="e : ${#fields.errors('currentPassword')}"
                           th:if="${#fields.hasErrors('currentPassword')}"
                           th:text="${e}">
                        </p>
                    </li>

                    <!--New Password -->
                    <li>
                        <label for="new-password">Nouveau mot de passe :</label>
                        <div class="password-wrapper">

                            <input id="new-password" required th:field="*{newPassword}" type="password"
                                   placeholder="Saisissez un nouveau mot de passe">
                            <span class="toggle-show-password"><img id="eye-new-password"
                                                                    alt="Afficher le mot de passe" height="16"
                                                                    src="/images/icons/eye-closed.svg"
                                                                    width="16"/></span>
                        </div>
                        <p class="error-msg"
                           th:each="e : ${#fields.errors('newPassword')}"
                           th:if="${#fields.hasErrors('newPassword')}"
                           th:text="${e}">
                        </p>
                        <p class="password-validation" id="lowercase">1 minuscule</p>
                        <p class="password-validation" id="uppercase">1 majuscule</p>
                        <p class="password-validation" id="digit">1 chiffre</p>
                        <p class="password-validation" id="specialChar">1 caractère spécial</p>
                        <p class="password-validation" id="minLength">8 caractères minimum</p>

                    </li>

                    <!-- New Password confirmation -->
                    <li>
                        <label for="confirm-new-password">Confirmation du nouveau mot de passe :</label>
                        <div class="password-wrapper">

                            <input id="confirm-new-password" required th:field="*{confirmNewPassword}"
                                   type="password" placeholder="Confirmez le nouveau mot de passe">
                            <span class="toggle-show-password"><img id="eye-confirm-new-password"
                                                                    alt="Afficher le mot de passe" height="16"
                                                                    src="/images/icons/eye-closed.svg"
                                                                    width="16"/></span>
                        </div>

                        <p class="error-msg"
                           th:each="e : ${#fields.errors('confirmNewPassword')}"
                           th:if="${#fields.hasErrors('confirmNewPassword')}"
                           th:text="${e}">
                        </p>
                    </li>
                </ul>
            </fieldset>

            <ul class="flex-outer">
                <li class="form-actions">
                    <button class="btn success" th:type="submit">Enregistrer</button>
                    <a class="btn" th:href="@{/profile/my-profile}">
                        Retour
                    </a>
                </li>
            </ul>

        </form>
    </th:block>
</main>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('updatePasswordForm');

        const currentPasswordInput = document.getElementById('current-password');
        const newPasswordInput = document.getElementById('new-password');
        const confirmNewPasswordInput = document.getElementById('confirm-new-password');

        const eyeCurrentPassword = document.getElementById('eye-current-password');
        const eyeNewPassword = document.getElementById('eye-new-password')
        const eyeConfirmNewPassword = document.getElementById('eye-confirm-new-password');

        const inputsWithIcons = [
            {
                input: currentPasswordInput,
                icon: eyeCurrentPassword
            },
            {
                input: newPasswordInput,
                icon: eyeNewPassword
            },
            {
                input: confirmNewPasswordInput,
                icon: eyeConfirmNewPassword
            }
        ];

        const patterns = {
            minLength: /.{8,}/,
            lowercase: /[a-z]/,
            uppercase: /[A-Z]/,
            digit: /\d/,
            specialChar: /[@$!%*?&]/,
        };

        // Password validation
        newPasswordInput.addEventListener("input", () => {
            const password = newPasswordInput.value;
            for(const [key, value] of Object.entries(patterns)) {
                if(value.test(password)) document.getElementById(key).style.color = "#81aa3fff";
                else document.getElementById(key).style.color = "#c24f29";
            }
        })

        inputsWithIcons.forEach(({input, icon}) => {
            icon.addEventListener('click', () => {
                if(icon.src.includes("eye-closed")) {
                    icon.src = "/images/icons/eye-opened.svg";
                    icon.alt = "Cacher le mot de passe"
                    input.type = "text";
                } else {
                    icon.src = "/images/icons/eye-closed.svg";
                    icon.alt = "Afficher le mot de passe"
                    input.type = "password";
                }
            })
        })

        form.addEventListener('submit', (e) => {
            const confirmed = confirm(
                "Vous avez modifié votre mot de passe. " +
                "Pour des raisons de sécurité, vous allez être déconnecté(e). Confirmer ?"
            );

            if (!confirmed) {
                e.preventDefault();
            }
        });
    });
</script>
</body>
</html>