{% extends "base.html.twig" %}

{% block title %}Udon{% endblock %}

{% block main %}
<h2>Voici {{ name }}</h2>
    <img src="{{ asset('images/udon2.jpg') }}" width="250" alt="udon" />
{% endblock %}
