.profile-info-container {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 480px;
    background-color: #2b2727;
    padding: 3rem 2rem 2rem;
    border-radius: 5px;
    list-style: none;
    margin: 0;
}

.profile-info-container h2 {
    font-size:.7em;
    text-align: center;
    padding-bottom: 2rem;
}

.profile-info-container li {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    width: 92%;
}

.profile-fieldset {
    width: 100%;
    max-width: 500px;
    margin: 40px auto 30px;
    padding: 4rem 3rem 3rem;
    background-color: #2b2727;
    border-radius: 5px;
    position: relative;
}

.profile-legend {
    position: absolute;
    top: -20px;
    left: 50%;
    width:150px;
    transform: translateX(-50%);
    padding: 15px 30px;
    background-color: #c24f29;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size:1em;
    text-align: center;
}

.profile-info-container .label {
    color: white;
    font-weight: 600;
    min-width: 120px;
}

.profile-info-container p {
    color: white;
    margin: 0;
}

.profile-actions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: inherit;
    gap: 3rem;
}
